.Register {
  body {
    font-family: "Encode Sans Expanded", sans-serif !important;
    overflow-x: hidden;
    font-size: 10px;
  }
  .Register {
  }
  body {
    font-family: "Encode Sans Expanded", sans-serif !important;
    overflow-x: hidden;
    font-size: 10px;
  }
  body {
    font-family: "Encode Sans Expanded", sans-serif !important;
    overflow-x: hidden;
    font-size: 10px;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .register {
    width: 100%;
    height: auto;
  }

  .register .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .register .container .register-form {
    width: 80%;
    height: auto;
  }

  .register .container .register-form h2 {
    margin-top: 1.5em;
  }

  .register .container .register-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .register .container .register-form form label {
    margin-top: 1.5em;
  }

  .register .container .register-form form input {
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(220, 223, 220);
  }

  .register .container .register-form form input:hover {
    border: 1px solid #0aad0a;
  }

  .register .container .register-form form button {
    width: 8em;
    height: 2.5em;
    border: 0;
    /* background-color: #0aad0a; */
    color: #fff;
    border-radius: 10px;
    margin-left: auto;
  }

  :root {
    --main-color: #0aad0a;
    --light-color: #f0f3f2;
    --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
      rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
      rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
    --font-family: "Encode Sans Expanded", sans-serif;
    --rating-color: #ffc908;
  }
}
